<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">All Events</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Events</li>
    </ol>
  </div>

  <div class="row">
    <div class="col-lg-12 mb-4">
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Events </h6>
          <a routerLink="/create-event/add" class="btn btn-sm btn-success" style="float: right;">Create New Event</a>
        </div>
        <div class="table-responsive" style="padding: 10px;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sl.No</th>
                <th>Event Name</th>
                <th>Event Type</th>
                <th>Category</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let event of events | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let no = index;">
                <td>{{$any(event).inc_no}}</td>
                <td>{{$any(event).title}}</td>
                <td>{{$any(event).event_ty}}</td>
                <td>{{$any(event).school}}</td>
                <td>{{$any(event).created}}</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>
                  <a href="javascript:void(0);" class="btn btn-sm btn-warning" (click) ="duplicateEvent($any(event).id);" data-toggle="modal" data-target="#duplicateModal"><i class="fas fa-copy"></i></a>&nbsp;
                 <a href="javascript:void(0);" routerLink="/create-event/{{$any(event).id}}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>&nbsp;
                 <a href="javascript:void(0);" class="btn btn-sm btn-danger" (click) ="deleteEvent($any(event).id);" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i></a>
               </td>
             </tr>
           </tbody>
         </table>
       </div>
       <div class="card-footer">
        <div style="padding:10px;" class="row">
            <div class="col-lg-8 col-sm-12 col-md-12">
                <ngb-pagination [pageSize] = "pageSize" [collectionSize]="totalLength" [maxSize]="5" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-4" style="text-align:right;">
                <h5>Total Records:<span>{{totalLength}}</span></h5>
            </div>
        </div>
          

       </div>
     </div>
   </div>
 </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelDelete"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabelDelete">Ohh No!</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to Delete?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
      <a href="javascript:void(0);" (click)="confirmdeleteEvent(eventID);" data-dismiss="modal" class="btn btn-danger">Delete</a>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="duplicateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelDuplicate"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabelDuplicate">Event Duplicating!</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div class="form-group">
            <label for="touchSpin1">How Many Duplicates</label>
            <!-- <input id="touchSpin1" type="text" class="form-control" [(ngModel)]="duplicate.duplicateTimes"> -->
            <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
              <span class="input-group-btn input-group-prepend">
                <button class="btn btn-primary bootstrap-touchspin-down" type="button" (click)="decCount();">-</button></span>
                <input  type="text" class="form-control " [(ngModel)]="duplicate.duplicateTimes"><span class="input-group-btn input-group-append"><button class="btn btn-primary bootstrap-touchspin-up" type="button" (click)="incCount();">+</button></span></div>
          </div>  
        </div>
        
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
      <a href="javascript:void(0);" (click)="confirmduplicateEvent(duplicate,eventID);" data-dismiss="modal" class="btn btn-danger">Duplicate</a>
    </div>
  </div>
</div>
</div>