﻿@model IEnumerable<Interview.Models.EventModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Events</h1>
<table class="table display table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Seo Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayTextFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.event_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.seo_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td><div>
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Delete</button>
                </div>
                </td>
            </tr>
            }
            
        </tbody>
</table>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
