<div class="container-login">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-12 col-md-9">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Interview</h1>
                  </div>
                  <div  class="">
                    <div  class="text-center mt-4">
                      <h1  class="h4 text-gray-900 mb-4">Welcome back to, WebLogin Portal</h1>
                      <p  class="lead"> Sign in with your google account to access panel </p>
                    </div>
                      <div class="m-sm-4">
                        <div  class="text-center">
                          <img src="assets/img/logo1.png" alt="Krea University" class="img-thumbnail">
                        </div>
                        <hr >
                        <div class="social-login">
                          <div id="buttonDiv">
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>