<div class="container-fluid" id="container-wrapper">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">New Event</h1>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a routerLink="/">Home</a></li>
			<li class="breadcrumb-item">Events</li>
			<li class="breadcrumb-item active" aria-current="page">Create Event</li>
		</ol>
	</div>

	<div class="row">
		<div class="col-lg-12 mb-4">
			<div class="card">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">New Event </h6>
					<a routerLink="/events" class="btn btn-sm btn-success" style="float: right;">View Events</a>
				</div>
				<h5 style="text-align: center;">Event Basic Details</h5>
				<br>
				<div>
					<div class="col-lg-12 col-sm-12 col-md-12 row">
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group" *ngIf="isAddForm">
								<label for="eventtype">Event Category</label>
								<select class="form-control" id="event_school" [(ngModel)]="events.event_school" required>
									<option value="0">-Choose Category-</option>
									<option *ngFor="let cat of filters" value="{{cat.note}}">{{cat.name}}</option>
								</select>
							</div>
							<div class="form-group" *ngIf="!isAddForm">
								<label for="eventtype">Event Category</label>
								<select class="form-control" id="event_school" [(ngModel)]="events.event_school" required>
									<option value="0">-Choose Category-</option>
									<option *ngFor="let cat of events.event_cat" value="{{cat.id}}">{{cat.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<label for="eventtitle">Event Title</label>
								<input type="text" class="form-control" [(ngModel)]="events.title" id="eventtitle" placeholder="Enter Event Title">
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<label for="eventdepartment">Event Conducting Department</label>
								<input type="text" class="form-control" id="eventtitle" [(ngModel)]="events.department" placeholder="Eg:Department of science">
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<label for="eventtype">Event Method</label>
								<select class="form-control" id="eventtype" [(ngModel)]="events.event_type" (change)="modifyeventtype($event)">
									<option value="0">-Choose Event Method-</option>
									<option value="1">Virtual</option>
									<option value="2">Physical</option>
									<option value="3">Both</option>
								</select>
							</div>
						</div>
					</div>
					<br>
					<h5 style="text-align: center;">Event Timeslot <button class="badge btn-sm btn-success" (click)="shownewFiled('timeslot');" *ngIf="showtimeslotadd"> <i class="fa fa-plus"></i></button></h5>
					<br>
					<div class="col-lg-12 col-sm-12 col-md-12 row">
						<div class="col-lg-2 col-md-2 col-sm-12">
							<div class="form-group">
								<label for="eventtimeslot">Event Type</label>
								<select class="form-control" id="eventcategory" [(ngModel)]="events.eventcategory">
									<option value="0">Choose Event Type</option>
									<option value="1">General</option>
									<option value="2">Webinar</option>
								</select>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-12">
							<div class="form-group">
								<label for="eventtimeslot">Event Timeslot type</label>
								<select class="form-control" id="eventtimeslot" [(ngModel)]="events.event_timeslot">
									<option value="0">Choose Timeslot type</option>
									<option value="1">Single day</option>
									<option value="2">Multiple day</option>
								</select>
							</div>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-12 ">
							<div class="row" *ngFor="let event_slots of events.timeslot;let no = index;">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<label for="oneYearView">Event Date</label>
										<input type="date" class="form-control" id="oneYearView" [(ngModel)]="event_slots.date" placeholder="DD/MM/YYYY">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<label for="clockPicker2{{no}}">Event Time</label>
										<div class="input-group">
											<input type="time" class="form-control" [(ngModel)]="event_slots.time">
											<div class="input-group-append" *ngIf="showtimeslotadd">
												<span class="input-group-text btn-danger" (click)="removevalue(no,'timeslot')" style="cursor:pointer;">X</span>
											</div>                      
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
					<h5 style="text-align: center;">Contact Details</h5>
					<br>
					<div class="col-lg-12 col-sm-12 col-md-12 row" *ngFor="let contact of events.contact;let no = index;">
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<label for="contactname">Contact Name</label>
								<input type="text" class="form-control" id="contactname" [(ngModel)]="contact.name" placeholder="Event Contact Name">
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<label for="contactemail">Email</label>
								<input type="text" class="form-control" id="contactemail" [(ngModel)]="contact.email" placeholder="Event Contact Email">
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<label for="contactnumber">Mobile Number</label>
								<input type="text" class="form-control" id="contactnumber" [(ngModel)]="contact.mobile" placeholder="Event Contact Number">
							</div>
						</div>
					</div>
					<br>
					<div class="col-lg-12 col-sm-12 col-md-12 row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="form-group">
								<label for="eventtype">Event Description</label>
								<!-- <ckeditor [editor]="editor" [(ngModel)]="events.description"  [data]="events.description"></ckeditor> -->
								<angular-editor [(ngModel)]="events.description" [config]="editorConfig"></angular-editor>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div id="container" class="img-thumbnail">
								<label for="eventBanner" style="text-align:center;">Event Banner</label>
								<div id="image_preview">
									<label for="file">
										<img id="previewImage" class="img" *ngIf="events.image" [src]="sanitize(events.image,'url')" alt="Profile Image" />
									</label>
									<input type="file" name="profile" id="file" required style="display:none;" (change)="handleFileInput($event)">
								</div>
								
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<label for="link"><input type="checkbox" name="link" [(ngModel)]="events.link" (change)="modifyeventtype($event)" id="link">Add Registration Link</label>
							</div>
							<div class="form-group" *ngIf="showregfield">
								<label>Enter Registration Link</label>
								<textarea class="form-control" [(ngModel)]="events.registration" placeholder="Event Registration Link and Meeting ID"></textarea>
							</div>
						</div>
					</div>
					<div class="card-footer" style="text-align: center;">
						<input type="hidden" name="is_link" [(ngModel)]="events.is_link">
						<button class="btn btn-success" type="button" (click)="saveEvent(events);">Save Event</button>&nbsp;
						<button class="btn btn-danger" type="button" routerLink="/events">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>